@media (max-width: 768px) {
  .container-corpo {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100vw;
  }
}

.botao {
  align-self: stretch;
  border-radius: 5px;
}

.botao:hover {
  cursor: pointer;
}

.lista-dados-cliente li {
  display: flex;
  justify-content: space-between;
}

label {
  display: flex;
  justify-content: space-between;
}

.input-valido {
  border-color: #0C0;
}

.input-invalido {
  border-color: #D00;
}

.label-valido::after {
  content: '';
}

.label-invalido::after {
  display: block;
  content: 'valor inválido';
  margin-right: 5px;
  color: #D00;
}